@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
}

@import "@/components/style.scss";

.app-container {
  .react-tree {
    margin: 50px;
    border: 3px dashed gray;
  }

  .is-body {
    background: #fff;
  }

  // common styles
  .react-tree {
    padding: 20px;
    .is-node {
      margin-left: 20px;
      &[collapsed] {
        .is-branch {
          display: none;
        }
      }
    }

    > .is-node {
      margin-left: 0;
    }
  }
}
